{% extends 'layout.html' %}


{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to our website!</h1>
<p>
  <strong>Computer science</strong> plays a vital role in engineering, serving
  as the backbone for innovation, analysis, and problem-solving. In today's
  technological landscape, engineers rely heavily on computer science principles
  to design, simulate, and optimize complex systems across various domains. From
  structural engineering to aerospace, computer science enables engineers to
  model intricate structures, simulate environmental conditions, and analyze
  performance metrics with precision.
</p>
<img
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2VYCFMfm1BxDAepl1LoeETDq8BGYxqocsXyjE5GsA2qOMgK-RsJbIBo_76w&s"
  alt="Computer Science Image"
/>
{% endblock %}

